{% extends '_main.html' %}
{% load static %}
{% block content %}

<h2 style="color: rgb(116, 111, 111);">
     Contato
</h2>

<div class="footer-container">
    <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam natus cupiditate numquam quae nulla, repudiandae
        blanditiis sit nihil non? Porro, quos odio, aperiam magnam labore voluptatem quam voluptatum error voluptas qui
        culpa nesciunt maiores natus beatae eos id, eius nostrum blanditiis impedit possimus corrupti ipsum facere
        nihil. Rerum impedit error et ea ad saepe nobis cupiditate iste asperiores vitae fugiat, atque autem, delectus
        ex vero quam quas ipsa, velit in illo. At fuga eveniet et veritatis necessitatibus voluptate omnis esse nisi
        similique? Ratione architecto ipsam, aperiam non aut odit veritatis autem fugit in! Recusandae reprehenderit est
        laborum sed ab? Ab, sunt corporis ad nihil quibusdam aperiam obcaecati commodi at provident quo, maxime dicta
        officiis nemo aliquam voluptates debitis nesciunt, architecto voluptas a ipsam? In nisi molestias voluptas ipsum
        neque at voluptates voluptatibus, eos asperiores facere delectus praesentium quasi atque quisquam possimus unde
        sequi id, impedit quibusdam excepturi dicta odit sed! Consectetur enim nemo repellendus cumque ea reiciendis
        saepe sit sunt eos, tempora distinctio doloremque debitis exercitationem pariatur eum. Suscipit deleniti quia
        nam incidunt. Aperiam alias iste animi magni assumenda. Doloremque dolore autem sapiente ullam temporibus
        officiis, voluptatum dolor. Aliquam mollitia porro id tempore fuga inventore eum itaque, doloribus sit vero.</p> -->
        <br><br><br>
    <div class="footer-section mapa" style="text-align: center;">
        <h3>Localização</h3>
        <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3677.7072378075068!2d-45.195029623829086!3d-22.813309479320964!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ccc45681df6299%3A0xdafd98a36d707d9b!2sSenac%20Guaratinguet%C3%A1!5e0!3m2!1spt-BR!2sbr!4v1722298365177!5m2!1spt-BR!2sbr"
            width="400" height="350" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>

    <div class="footer-section contato">
        <h3>Rede de Contato</h3>
        <ul>
            <li><i class="bi bi-geo-alt"></i> 1415 Obebez Loop</li>
            <li><i class="bi bi-envelope"></i> zazu@cewzu.sh </li>
            <li><i class="bi bi-telephone"></i> (377) 546-1044</li>
            <li><i class="bi bi-telephone"></i> (206) 579-9197</li>
        </ul>
    </div>
</div>
{% endblock %}