{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/contato">Contato</a></li>
            <li><a href="/mercado">Mercado</a></li>
            <li><a href="/produto">Produto</a></li>
        </ul>
    </nav>

    <img src="{% static 'images/paisagem.jpg' %}" alt="Guitar">

</body>
</html>